<% form_for @user_id do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <% f.fields_for :questions do |builder| %>
  <p>
    <%= builder.label :xt, "Question" %><br />
    <%= builder.text_area :xt, :rows => 3 %>
  </p>
  <% end %>
  <p><%= f.submit "Submit" %></p>
<% end %>