<!DOCTYPE html>
<html>
<head>
  <title>App1</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.9.3/typeahead.min.js" %>
  <%= javascript_include_tag "autocomplete-rails.js" %>

  
</head>
<body>
<div style="padding-left: 150px;">  
  <% if current_user %>
    Logged in as <%= current_user.full_name %>.
    <%= link_to "Log out", log_out_path %>
</div>
  <% else %>
    <%= link_to "Sign up", sign_up_path %> or
    <%= link_to "log in", log_in_path %>
  <% end %>
  <div style="padding-left: 150px; padding-right: 150px;">
  <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
          <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          </div>
      <% end %>
  <% end %>
  </div>
  <%= yield%>
</body>
</html>
